#app_container{
    margin        : 0;
    padding       : 0;
    display       : grid;
    place-content : center;
    min-height    : 100vh;
    min-width: 100vw;
    overflow: auto;
    background-color: #757575;
    background-image: url("../img/tracker_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

