#current_apps_title{
    text-align: center;
}

#current_apps_canvas{
    margin        : 10em;
    padding       : 0;
    display       : grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    min-height    : 100vh;
}