#current_apps_title{
    text-align: center;
}

#current_apps_canvas{
    margin        : 5em 5em;
    padding       : 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}