#tracker{
    width: 2em;
}

.login_logo {
    display: flex;
    justify-content: flex-start;
}

.sign_up {
    display: flex;
    justify-content: space-around;
}

#signup_link{
    text-decoration: underline;
    color: blue;
}

#signup_link:hover{
    cursor: pointer;
}

.pwd-container {
    position: relative;
}
  
.pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 8px;
    top: 8px;
  }