#tracker{
    width: 2em;
}

.login_logo {
    display: flex;
    justify-content: flex-start;
    color: #FFF;
}

.sign_up {
    display: flex;
    justify-content: space-around;
    color: #FFF;
}

#signup_link{
    text-decoration: underline;
    color: blue;
}

#signup_link:hover{
    cursor: pointer;
}

.pwd-container {
    position: relative;
}
  
.pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 8px;
    top: 8px;
}

.registration_title{
    color: #FFF;
}

.login_registration_container{
    background-color: #282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

label{
    color: #fff;
}

.my_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    width: 70%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
}