#new_app_title{
    text-align: center;
}

.new_app_container{
    padding: 2em;
    min-width: 90%;
    background-color: #282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

#new_app_canvas {
    margin        : 4em 0;
    padding       : 0;
    display       : grid;
    place-content : center;
    min-height    : fit-content;
}

.my_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    width: 70%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
}