.pwd-container {
    position: relative;
  }
  
.pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 8px;
    top: 8px;
  }

.back_to_login{
  color: #FFF;
}

#login_link {
  text-decoration: underline;
  color: blue;
}

#login_link:hover{
  cursor: pointer;
}